{% extends "layouts/main.html" %}
{% block title %}{% if item.id == 0 %}Add Item{% else %}View Item{% endif %}{% endblock %}
{% from "shared/navigation.html" import navigation with context %}
{% block content %}
{% if item.id == 0 %}
    {{ navigation('Add Item', user) }}
{% else %}
    {{ navigation('View Item', user) }}
{% endif %}

{% if item %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

<form action="/vaults/{{vault_id}}/items/{{item.id}}" method="POST">
    <label for="title">Title</label>
    <input class="w-100" type="text" id="title" name="title" value="{{item.title}}"
        maxlength="{{constants.MAX_ITEM_TITLE_LENGTH}}">
    <div class="h-split top-space">
        <div>
            <label for="username">Username</label>
            <input class="w-100" type="text" id="username" name="username" value="{{item.username}}"
                maxlength="{{constants.MAX_ITEM_USERNAME_LENGTH}}">
        </div>
        <div>
            <label for="website">Website</label>
            <input class="w-100" type="text" id="website" name="website" value="{{item.website}}"
                maxlength="{{constants.MAX_ITEM_WEBSITE_LENGTH}}">
        </div>
    </div>
    <label class="top-space" for="password">Password</label>
    <div class="hcontainer">
        <input class="w-100" type="text" id="password" name="password" value="{{item.password}}"
            maxlength="{{constants.MAX_ITEM_PASSWORD_LENGTH}}">
        <input class="left-space" id="generate" type="button" value="Generate" onclick="generatePassword()">
    </div>
    <div class="top-space group-box">
        <div class="hcontainer">
            <label>Password Length</label>
            <div class="left-less-space w-2-rem" id="password-length">{{item.password|length}}</div>
            <input class="slider left-less-space" type="range"
                min="4" max="{{constants.MAX_ITEM_PASSWORD_LENGTH}}"
                value="{{item.password|length}}" id="password-length-input"
                onChange="generatePassword()" onmousemove="updatePasswordLengthLabel(this.value)">
        </div>

        <input type="checkbox" id="use-digits" onchange="generatePassword()"
            {% if item.password_has_digits %}checked{% endif %}>
        <label class="left-less-space top-less-space" for="use-digits">Use Digits</label><br>

        <input type="checkbox" id="use-special" onchange="generatePassword()"
            {% if item.password_has_special %}checked{% endif %}>
        <label class="left-less-space top-less-space" for="use-special">Use Special Characters</label>
    </div>
    <input class="top-space" id="submit" type="submit"
        value="{% if item.id == 0 %}Add Item{% else %}Save Changes{% endif %}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>

{% else %}

<div style="margin-top: 3rem;">
    <h4>Item not found.</h4>
    <div>Try going back to the previous page.</div>
</div>

{% endif %}

{% endblock %}
