<h1>Pass Man</h1>
<p>Welcome to PassMan Flask/SQLite3 POC</p>
<hr>

<h3>Create User</h3>
<form action="create" method="POST">
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username" value=""><br>
    <br>
    <label for="password">Password</label><br>
    <input type="text" id="password" name="password" value=""><br>
    <br>
    <input type="submit" value="Submit">
</form>


<hr>
<h3>Data</h3>
<table>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>Username: {{ row['username'] }},</td>
                <td>Password: {{ row['password'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
