{% extends "layouts/main.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<h1>PassMan</h1>
<p>Welcome to PassMan! The secure, clean password manager.</p>
<h4>Create your account</h4>

<form action="/registrations/create" method="POST">
    <label for="username">Username</label>
    <div class="hcontainer">
        <input type="text" id="username" name="username" value="{{username}}">
        {% if username_error %}
            <div class="error-hint">{{username_error}}</div>
        {% endif %}
    </div>
    <br>

    <div class="hcontainer">
        <label for="password">Password</label>
        <div class="label-hint">(include a capital letter, a small letter, and a digit)</div>
    </div>
    <div class="hcontainer">
        <input type="password" id="password" name="password" value="">
        {% if password_error %}
            <div class="error-hint">{{password_error}}</div>
        {% endif %}
    </div>
    <br>

    <label for="retype_password">Retype Password</label>
    <div class="hcontainer">
        <input type="password" id="retype_password" name="retype_password" value="">
        {% if retype_password_error %}
            <div class="error-hint">{{retype_password_error}}</div>
        {% endif %}
    </div>
    <br>

    <div class="hcontainer">
        <input type="submit" value="Sign Up">
        {% if success_message %}
            <div class="success-hint">{{success_message}}</div>
        {% elif error_message %}
            <div class="error-hint">{{error_message}}</div>
        {% endif %}
    </div>
    <br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>

<p>Already have an account? <a href="/sessions/new">Click here</a> to log in.</p>

{% endblock %}
